<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="BotId" value="BotComponentCreator" />
    <add key="MicrosoftAppId" value="" />
    <add key="MicrosoftAppPassword" value="" />
    <add key="twilioNumberForSMS" value="404-369-0343" />
    <add key="SMSNotificationMessage" value="Hi.Am pilot bot sending you a test message" />
    <add key="sendTextUrl" value="http://sendtextnotificationapi.azurewebsites.net/api/values" />
    <add key="BotName" value="cosmosqnabot" />
    <add key="contextResetIntent" value="greeting" />
    <add key="QandAKnowledgeBaseID" value="f63997c9-5cf6-4233-8d2e-bf07d0c0d489" />
    <add key="knowledgeBaseName" value="qnakb" />
    <!--<add key="QandASubscriptionKey" value="f42d313bb1c1405b8d64ebc68975e557"/>  -->
    <add key="QandASubscriptionKey" value="1824b924ae074bd0b142cb07dce0f42e" />
    <add key="seatmapUrl" value="https://seatmapapi.azurewebsites.net" />
    <add key="iropluislink" value="https://eastus2.api.cognitive.microsoft.com/luis/v2.0/apps/74e420dd-57ef-427b-a1b3-d520aefcc7b7?subscription-key=f61a9e0010fe400cabf6d164a801e2c8&amp;timezoneOffset=0&amp;verbose=true&amp;q=" />
    <add key="luismasterlink" value="https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/4276f1b9-1ede-40cc-abd0-3d678741c2f8?subscription-key=d25a0a7f46b941c9bb55a1cfe6b2e7ba&amp;timezoneOffset=0&amp;verbose=true&amp;q=" />
	  <add key="botluislink" value="https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/5d6a41e6-7299-4890-92fc-7938d0badb80?subscription-key=d25a0a7f46b941c9bb55a1cfe6b2e7ba&amp;verbose=true&amp;timezoneOffset=0&amp;q=" />
    <add key="fbAccessToken" value="EAAZAMhdBNxowBAGHG3gs8d449RZCBQEK09JsUet3ZBAiqbMgtpHHfudTl5MDxdZAujtNkWAp7xNOsTSGemiq3ZCelASaGZB4NXciov5i5cSYe2zpjSPm3AZCYRSlaYmuU68M7gGeqjCocZA1qqQ2xpE2ox8lxyFJkELPUdT9AKeZCLAZDZD" />
	  <add key="TechOpsAPIUrl" value="http://techopsapi20171002102546.azurewebsites.net/" />
    <add key="DatabaseId" value="KeywordDocument" />
    <add key="CollectionId" value="KeywordCollection" />
    <add key="Endpoint" value="https://delta-speak.documents.azure.com:443/"/>
    <add key="AuthKey" value="wUsHHnSGasWfOWkLOhhylvNroCB52svYzykZVD9ERO6RwQA4ElA21ADhth52DK9reHpMzG7wKGIY9jLclNfRfg=="/>
    <add key="qnaluislink" value="https://eastus2.api.cognitive.microsoft.com/luis/v2.0/apps/6c30be09-d2af-4159-bb57-73f58198a866?subscription-key=5e9a437da2eb4fd9a5de971e929080e7&amp;verbose=true&amp;timezoneOffset=0&amp;q="/>

  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.htm" />
      </files>
    </defaultDocument>

    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.9.0.0" newVersion="5.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>